<div class="container">

  <div class="row ml-4 mt-4">
    <div class="col-lg-4">

      <mat-form-field *ngFor="let elmn of qaArr;let j = index;">
        <mat-label>{{elmn.question}}</mat-label>
        <mat-select [value]="selectedOne" (selectionChange)="addSelectedOption(elmn.id,$event)">
          <mat-option *ngFor="let ans of elmn.answerArr; let i = index" [value]="i">
            {{ans}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="col-lg-4">
      <!--<mat-form-field>
        <mat-label>Parameter 5</mat-label>
        <mat-select [(value)]="selectedFive">
          <mat-option>None</mat-option>
          <mat-option value="5">5</mat-option>
        </mat-select>
      </mat-form-field>-->
      <button (click)="getMatchingEmployees()" mdbBtn type="button" color="indigo" mdbWavesEffect>Search Candidates
      </button>
    </div>
  </div>

  <table mdbTable class="mat-elevation-z8 ml-4 mt-2">
    <thead class="grey lighten-1 black-text">
    <tr>
      <th *ngFor="let head of headElements" scope="col">{{head}} </th>
    </tr>
    </thead>
    <tbody>
    <tr mdbTableCol *ngFor="let el of dataModal">
      <td><a><span style="font-weight: bold;font-size: 20pt;"> + </span></a></td>
      <td>{{el.matchLevel}}</td>
      <td>{{el.serial}}</td>
    </tr>
    </tbody>
  </table>
</div>


