<div class="container">

  <div class="row mt-4">
    <div class="col-lg-12">

      <mat-form-field *ngFor="let elmn of qaArr;let j = index;" class="col-lg-4">
        <mat-label>{{elmn.question}}</mat-label>
        <mat-select [value]="selectedOne" (selectionChange)="addSelectedOption(elmn.id,$event)">
          <mat-option *ngFor="let ans of elmn.answerArr; let i = index" [value]="i">
            {{ans}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="mb-2" style="margin-left: 22px;">
      <button (click)="getMatchingEmployees()" mdbBtn type="button" color="indigo" mdbWavesEffect>Search Candidates
      </button>
    </div>
  </div>

  <table mdbTable class="mat-elevation-z8 mt-2" style="margin-left: 14px;">
    <thead class="grey lighten-1 black-text">
    <tr>
      <th *ngFor="let head of headElements" scope="col">{{head}} </th>
    </tr>
    </thead>
    <tbody>
    <tr mdbTableCol *ngFor="let el of dataModal">
      <td><a>
        <mdb-icon fas icon="plus"></mdb-icon>
      </a></td>
      <td>{{el.matchLevel}}</td>
      <td>{{el.serial}}</td>
    </tr>
    </tbody>
  </table>
</div>


